@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=EB+Garamond:wght@400;500&family=Mochiy+Pop+P+One&family=Rubik+Beastly&display=swap');
*{
  font-family: 'EB Garamond', serif;
}
#logo1{
  font-family: 'Mochiy Pop P One', sans-serif;
}
#logo2{
  font-family: 'Aclonica', sans-serif;
}

@media screen and ( min-width:768px){
  
  .navbar-brand{
    margin: auto
  }
  .container-fluid{
    position: relative;
  }
   .navbar-nav{

     position: absolute;
     top: 0;
     right: 0;
     
   }


}
.container-intro p{
  text-align: center;
}

.short-news p a {
  color: black;
}
.short-news p a:hover{
  color: red;
}
.short-news img{
  width: 310px;
}
.more-news p a{
  color: black;
}
.more-news p a:hover{
  color: red;
}
.most-news h3 a{
  color: black;
}
.most-news h3 a:hover{
  color: red;
}
.footer-brand{
  color: black;
  text-decoration: none;
}
h3{
  font-family: 'Mochiy Pop P One', sans-serif; 
}